.list {
  display: flex;
}
.list.center {
  justify-content: center;
}

.section {
  padding: 100px 0;
}
.section .titleBox {
  margin-bottom: 50px;
  text-align: center;
}
.section .titleBox h2 {
  font-size: 42px;
  font-weight: 300;
  line-height: 1.25;
}
.section .titleBox h2 strong {
  font-weight: 700;
}
.section .titleBox h2 strong span {
  color: #0f91d0;
}

.btns {
  display: flex;
  justify-content: center;
}
.btns.left {
  justify-content: flex-start;
}
.btns .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  margin: 0 5px;
  padding: 0 30px;
  border: none;
  border-radius: 100px;
}
.btns .btn.line {
  color: #0f91d0;
  border: 2px solid #0f91d0;
  background: none;
  text-shadow: none;
}
.btns .btn.arrow:after {
  margin-left: 3px;
  font-family: "Material Icons";
  font-size: 20px;
  transform: translateY(-2px);
  content: "\e941";
}
.btns .btn.wide {
  padding: 0 60px;
}
.btns .btn.gradient {
  position: relative;
  overflow: hidden;
  color: #fff;
  border: none;
  background-color: #0f91d0;
}
.btns .btn.gradient:hover:before {
  transform: translateY(-50%) scale(2);
}
.btns .btn.gradient:before {
  width: 150px;
  height: 150px;
  right: -80px;
  background: radial-gradient(rgb(113, 199, 73), transparent, transparent);
  transition: all 0.25s ease-in-out;
  display: block;
  position: absolute;
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

#mainVisual {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}
#mainVisual li {
  height: calc(100vh - 100px);
  position: relative;
}
#mainVisual li.swiper-slide-active .img {
  transform: scale(1);
}
#mainVisual li.visual01 .img {
  background-image: url("../images/main/visual01.jpg");
}
#mainVisual li.visual02 .img {
  background-image: url("../images/main/visual02.jpg");
}
#mainVisual li.visual03 .img {
  background-image: url("../images/main/visual03.jpg");
}
#mainVisual li:before {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.25);
  display: block;
  position: absolute;
  content: "";
}
#mainVisual li .img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  transform: scale(1.2);
  transition: all 5s ease 1s;
  background-position: 50% 50%;
  background-size: cover;
  background-repeat: none;
}
#mainVisual li .txtBox {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 1280px;
  height: 100%;
  position: relative;
  z-index: 99;
  margin: auto;
  color: #fff;
}
#mainVisual li .txtBox .headTxt {
  display: inline-block;
  margin-bottom: 10px;
  padding-bottom: 10px;
  font-size: 28px;
  border-bottom: 1px solid #fff;
}
#mainVisual li .txtBox h2 {
  margin: 30px 0;
  font-size: 42px;
  font-weight: 700;
  line-height: 1.5em;
}
#mainVisual li .txtBox .descTxt {
  font-size: 18px;
}
#mainVisual li .txtBox a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 180px;
  height: 50px;
  margin-top: 50px;
  border: 2px solid #fff;
  transition: all 0.25s ease-in-out;
  text-align: center;
  border-radius: 100px;
}
#mainVisual li .txtBox a:hover {
  color: #111;
  background-color: #fff;
}
#mainVisual button {
  width: 80px;
  height: 80px;
  z-index: 2;
  color: #fff;
  border: 1px solid #fff;
  background: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
#mainVisual button .material-icons {
  font-size: 64px;
}
#mainVisual button.prev {
  left: 50px;
}
#mainVisual button.next {
  right: 50px;
}
#mainVisual .pagination {
  position: absolute;
  bottom: 50px;
  z-index: 2;
  text-align: center;
}
#mainVisual .pagination .swiper-pagination-bullet {
  width: 100px;
  height: 4px;
  position: relative;
  border-radius: 0;
}
#mainVisual .pagination .swiper-pagination-bullet:after {
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 0;
  height: 100%;
  background-color: #0f91d0;
}
#mainVisual .pagination .swiper-pagination-bullet-active:after {
  width: 100%;
  transition: width 3s linear;
}

#portfolio {
  position: relative;
}
#portfolio .swiper-container {
  overflow: hidden;
}
#portfolio ul li {
  width: 300px;
  overflow: hidden;
  border-radius: 15px;
}
#portfolio ul li:hover .imgBox .sticker {
  color: #0f91d0;
  background-color: #fff;
}
#portfolio ul li:hover .imgBox .cover {
  top: 0;
}
#portfolio ul li .imgBox {
  position: relative;
  overflow: hidden;
}
#portfolio ul li .imgBox img {
  width: 100%;
  vertical-align: top;
}
#portfolio ul li .imgBox .cover {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  top: 100%;
  left: 0;
  padding-top: 60px;
  padding-left: 20px;
  color: #fff;
  transition: all 0.25s ease-in-out;
  background-color: rgba(15, 145, 208, 0.75);
  box-sizing: border-box;
}
#portfolio ul li .imgBox .cover .link {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
#portfolio ul li .imgBox .cover .link:after {
  display: inline-block;
  margin-left: 5px;
  font-family: "Material Icons";
  transform: translateY(2px);
  content: "\f1df";
}
#portfolio ul li .imgBox .sticker {
  display: block;
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 2;
  padding: 10px 20px;
  font-size: 14px;
  color: #fff;
  transition: 0.25s ease;
  background-color: #0f91d0;
  border-radius: 100px;
}
#portfolio ul li .txtBox {
  padding: 20px;
  border: 1px solid #ccc;
  border-top: none;
  text-align: center;
  border-radius: 0 0 15px 15px;
}
#portfolio ul li .txtBox h3 {
  margin-top: 20px;
  font-size: 20px;
}
#portfolio .btns {
  margin-top: 100px;
}
#portfolio .btns .btn:after {
  margin-left: 100px;
  font-family: "Material Icons";
  font-size: 20px;
  content: "\e145";
}
#portfolio .pagination {
  width: 800px;
  height: 5px;
  top: auto;
  bottom: 200px;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
  border-radius: 50px;
  background-color: rgba(204, 204, 204, 0.2);
}
#portfolio .pagination .swiper-pagination-progressbar-fill {
  background-color: #0f91d0;
}

#partner {
  background-color: #eff6f8;
}
#partner .list li {
  overflow: hidden;
  margin: 0 10px;
  background: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  transition: all 0.25s ease-in-out;
  border-radius: 15px;
}
#partner .list li:hover {
  transform: translateY(-20px);
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
}
#partner .list li .txt {
  padding: 20px;
  font-size: 21px;
  line-height: 1.25;
  border-top: 1px solid #eee;
  text-align: center;
}

#elearning .pagination {
  justify-content: center;
}
#elearning .pagination .swiper-pagination-bullet {
  width: 200px;
  height: 200px;
  background: none;
  opacity: 1;
  text-align: center;
}
#elearning .pagination .swiper-pagination-bullet:nth-child(1):before {
  background-image: url("../images/main/service_icon01.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(2):before {
  background-image: url("../images/main/service_icon02.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(3):before {
  background-image: url("../images/main/service_icon03.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(4):before {
  background-image: url("../images/main/service_icon04.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(5):before {
  background-image: url("../images/main/service_icon05.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(6):before {
  background-image: url("../images/main/service_icon06.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(1).swiper-pagination-bullet-active:before {
  background-image: url("../images/main/service_icon01_up.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(2).swiper-pagination-bullet-active:before {
  background-image: url("../images/main/service_icon02_up.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(3).swiper-pagination-bullet-active:before {
  background-image: url("../images/main/service_icon03_up.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(4).swiper-pagination-bullet-active:before {
  background-image: url("../images/main/service_icon04_up.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(5).swiper-pagination-bullet-active:before {
  background-image: url("../images/main/service_icon05_up.png");
}
#elearning .pagination .swiper-pagination-bullet:nth-child(6).swiper-pagination-bullet-active:before {
  background-image: url("../images/main/service_icon06_up.png");
}
#elearning .pagination .swiper-pagination-bullet:before {
  display: block;
  width: 100px;
  height: 100px;
  margin: 0 auto 20px;
  border: 1px solid #999;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  transition: all 0.5s ease-in-out;
  content: "";
  border-radius: 100px;
  background-color: #fff;
}
#elearning .pagination .swiper-pagination-bullet-active:before {
  border-color: #0f91d0;
  background-color: #0f91d0;
}
#elearning .rolling {
  position: relative;
  overflow: hidden;
  margin-top: 100px;
}
#elearning .rolling .list > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 50px;
  box-sizing: border-box;
}
#elearning .rolling .list > li .desc {
  flex-basis: 45%;
}
#elearning .rolling .list > li .desc .btns {
  display: flex;
  justify-content: flex-start;
}
#elearning .rolling .list > li .desc h3 {
  margin-bottom: 20px;
  font-size: 28px;
}
#elearning .rolling .list > li .desc p {
  font-size: 18px;
  line-height: 1.75;
  word-break: keep-all;
}
#elearning .rolling .list > li .desc .hashTag {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  color: #0f91d0;
}
#elearning .rolling .list > li .desc .hashTag li {
  margin-right: 15px;
}
#elearning .rolling button {
  width: 75px;
  height: 75px;
  position: absolute;
  top: 50%;
  z-index: 3;
  color: #ccc;
  border: none;
  transform: translateY(-50%);
  background: #fff;
  border-radius: 100px;
}
#elearning .rolling button .material-icons {
  font-weight: 700;
}
#elearning .rolling button.prev {
  left: 10px;
  box-shadow: -5px 0px 10px #eee;
}
#elearning .rolling button.next {
  right: 10px;
  box-shadow: 5px 0px 10px #eee;
}

#solution {
  background-color: #eff6f8;
}
#solution .lmsWrap {
  display: flex;
  width: 100%;
  overflow: hidden;
  margin-bottom: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  border-radius: 20px;
}
#solution .lmsWrap .title.title01 a {
  background-image: url("../images/main/solution_tit01.png");
}
#solution .lmsWrap .title.title02 a {
  background-image: url("../images/main/solution_tit02.png");
}
#solution .lmsWrap .title.title03 a {
  background-image: url("../images/main/solution_tit03.png");
}
#solution .lmsWrap .title a {
  display: block;
  height: 280px;
  position: relative;
  background-position: bottom 30px right 45px;
  background-color: #ddecf0;
  background-repeat: no-repeat;
}
#solution .lmsWrap .title a h3 {
  position: absolute;
  top: 50px;
  left: 50px;
  font-size: 24px;
  font-weight: 300;
  line-height: 1.5;
}
#solution .lmsWrap .title a h3 .eng {
  display: block;
}
#solution .lmsWrap .title a .arrow {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 150px;
  left: 50px;
  background: rgb(15, 145, 208);
  background: linear-gradient(45deg, rgb(15, 145, 208) 0%, rgb(75, 208, 15) 100%);
  border-radius: 100%;
}
#solution .lmsWrap .title a .arrow:before {
  font-family: "Material Icons";
  color: #fff;
  content: "\e5c8";
}
#solution .lmsWrap li a {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 280px;
  background-color: #fff;
  text-align: center;
}
#solution .lmsWrap li a:before {
  display: block;
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  border: 1px solid #ddd;
  transition: all 0.25s ease-in-out;
  content: "";
  border-radius: 100%;
  background-position: 50% 50%;
  background-color: #fff;
  background-repeat: no-repeat;
}
#solution .lmsWrap li a:hover:before {
  border-color: #0f91d0;
}
#solution .lmsWrap li a h4 {
  margin-bottom: 5px;
  font-size: 18px;
}
#solution .lmsWrap li a span {
  color: #0f91d0;
  border-bottom: 1px solid #0f91d0;
}
#solution .lmsWrap li:after {
  width: 1px;
  height: 100%;
  top: 0;
  border-right: 1px dashed #cce2e8;
  display: block;
  position: absolute;
  content: "";
}
#solution .lmsWrap li:nth-child(1):after {
  display: none;
}
#solution .lmsWrap:nth-child(1) .lmsBox {
  width: 100%;
}
#solution .lmsWrap:nth-child(1) .title {
  width: 20%;
}
#solution .lmsWrap:nth-child(1) ul {
  width: 80%;
}
#solution .lmsWrap:nth-child(1) ul li {
  width: 25%;
}
#solution .lmsWrap:nth-child(1) ul li:nth-child(1) a:before {
  background-image: url("../images/main/solution_img01.png");
}
#solution .lmsWrap:nth-child(1) ul li:nth-child(1) a:hover:before {
  background-image: url("../images/main/solution_img01_up.png");
}
#solution .lmsWrap:nth-child(1) ul li:nth-child(2) a:before {
  background-image: url("../images/main/solution_img01.png");
}
#solution .lmsWrap:nth-child(1) ul li:nth-child(2) a:hover:before {
  background-image: url("../images/main/solution_img01_up.png");
}
#solution .lmsWrap:nth-child(1) ul li:nth-child(3) a:before {
  background-image: url("../images/main/solution_img01.png");
}
#solution .lmsWrap:nth-child(1) ul li:nth-child(3) a:hover:before {
  background-image: url("../images/main/solution_img01_up.png");
}
#solution .lmsWrap:nth-child(1) ul li:nth-child(4) a:before {
  background-image: url("../images/main/solution_img01.png");
}
#solution .lmsWrap:nth-child(1) ul li:nth-child(4) a:hover:before {
  background-image: url("../images/main/solution_img01_up.png");
}
#solution .lmsWrap:nth-child(1) ul li:nth-child(5) a:before {
  background-image: url("../images/main/solution_img01.png");
}
#solution .lmsWrap:nth-child(1) ul li:nth-child(5) a:hover:before {
  background-image: url("../images/main/solution_img01_up.png");
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(1) {
  width: 60%;
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(1) .title {
  width: 33.33%;
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(1) ul {
  width: 66.66%;
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(1) ul li {
  width: 50%;
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(1) ul li:nth-child(1) a:before {
  background-image: url("../images/main/solution_img01.png");
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(1) ul li:nth-child(2) a:before {
  background-image: url("../images/main/solution_img01.png");
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(1) ul li:nth-child(1) a:hover:before {
  background-image: url("../images/main/solution_img01_up.png");
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(1) ul li:nth-child(2) a:hover:before {
  background-image: url("../images/main/solution_img01_up.png");
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(2) {
  width: 40%;
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(2) .title {
  width: 50%;
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(2) ul {
  width: 50%;
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(2) ul li {
  width: 100%;
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(2) ul li:nth-child(1) a:before {
  background-image: url("../images/main/solution_img01.png");
}
#solution .lmsWrap:nth-child(2) .lmsBox:nth-child(2) ul li:nth-child(1) a:hover:before {
  background-image: url("../images/main/solution_img01_up.png");
}
#solution .lmsWrap .lmsBox {
  display: flex;
}
#solution .lmsWrap .lmsBox ul {
  display: flex;
  position: relative;
}
#solution .lmsWrap .lmsBox img {
  position: absolute;
  right: 45px;
  bottom: 30px;
}

#demo .list {
  padding: 50px 100px 100px;
  border-bottom: 1px solid #ccc;
}
#demo .list li {
  flex-basis: 33.33%;
  text-align: center;
}
#demo .list li .btn {
  width: 150px;
}
#demo .list a {
  position: relative;
}
#demo .experience {
  align-items: center;
  padding-bottom: 0;
  border-bottom: none;
}
#demo .experience .title {
  margin-right: 30px;
  font-size: 28px;
}

#price {
  background-color: #eff6f8;
}
#price .tabMenu {
  display: flex;
  justify-content: center;
  width: 400px;
  margin: 0 auto;
  background-color: #fff;
  border-radius: 100px;
}
#price .tabMenu .btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50%;
  height: 50px;
  margin: 0 5px;
  padding: 0 30px;
  font-size: 16px;
  color: #fff;
  border: none;
  border-radius: 100px;
  background-color: #0f91d0;
}
#price .tabMenu .btn.off {
  color: #111;
  background-color: #fff;
}
#price .list {
  justify-content: space-between;
  margin: 50px;
}
#price .list > li {
  flex-basis: 24%;
  position: relative;
  overflow: hidden;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: inset 0 0 0 0 #0f91d0;
  transition: all 0.25s ease-in-out;
  background-color: #fff;
  box-sizing: border-box;
}
#price .list > li:hover {
  color: #0f91d0;
  transform: translateY(-20px);
  box-shadow: inset 0 0 0 5px #0f91d0, 0 10px 10px rgba(0, 0, 0, 0.1);
}
#price .list > li .title {
  margin-bottom: 20px;
}
#price .list > li .title h3 {
  font-size: 28px;
}
#price .list > li .title h3 strong {
  font-weight: 700;
}
#price .list > li .title h3 small {
  font-size: 16px;
}
#price .list > li .items {
  height: 180px;
  padding: 20px;
  background-color: #eee;
  border-radius: 10px;
}
#price .list > li .items li {
  margin: 8px 0;
  font-size: 15px;
}
#price .list > li .items li dl {
  display: flex;
}
#price .list > li .items li dl dt {
  flex-basis: 50%;
  margin-bottom: 10px;
  color: #999;
}
#price .list > li .btns {
  width: auto;
  margin-top: 20px;
}
#price .list > li .btns .btn {
  flex-grow: 1;
  color: #999;
  border-color: #999;
  background-color: #fff;
}
#price .list > li .sticker {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  font-weight: 700;
  color: #fff;
}
#price .list > li .sticker span {
  position: absolute;
  top: 15px;
  left: 0;
  transform: rotate(45deg);
}
#price .list > li .sticker span:before {
  top: -10px;
  left: 50%;
  border-radius: 100%;
  display: block;
  position: absolute;
  content: "";
  display: block;
  width: 4px;
  height: 4px #fff;
  background-color: #000;
}
#price .list > li .sticker:before {
  top: -50px;
  border: 50px solid transparent;
  transform: rotate(45deg);
  border-bottom-color: #0f91d0;
  display: block;
  position: absolute;
  content: "";
}

#news .list {
  justify-content: space-between;
}
#news .list li {
  flex-basis: 24%;
}
#news .list li:hover a .imgBox img {
  transform: scale(1.2);
}
#news .list li a .imgBox {
  position: relative;
  overflow: hidden;
  border-radius: 20px;
}
#news .list li a .imgBox .sticker {
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 10px 20px;
  color: #fff;
  border-radius: 100px;
  background-color: #0f91d0;
}
#news .list li a .imgBox img {
  width: 100%;
  transition: all 0.25s ease-in-out;
}
#news .list li a .desc {
  margin-top: 20px;
  font-size: 18px;
}
#news .list li a .desc .date {
  margin-bottom: 10px;
  font-size: 16px;
  color: #999;
}

#footer .utilMenu {
  padding: 10px 0;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
#footer .utilMenu .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#footer .utilMenu .container ul {
  display: flex;
}
#footer .utilMenu .container .sns li {
  margin-left: 10px;
}
#footer .utilMenu .container .sns li:nth-child(1) a {
  background-image: url("../images/common/sns01.png");
}
#footer .utilMenu .container .sns li:nth-child(1) a:hover {
  background-color: rgb(50, 219, 45);
}
#footer .utilMenu .container .sns li:nth-child(2) a {
  background-image: url("../images/common/sns02.png");
}
#footer .utilMenu .container .sns li:nth-child(2) a:hover {
  background-color: #f00;
}
#footer .utilMenu .container .sns li a {
  display: block;
  width: 50px;
  height: 50px;
  overflow: hidden;
  transition: all 0.25s ease-in-out;
  border-radius: 100%;
  background-color: #ddd;
  text-indent: -500px;
  white-space: nowrap;
  background-position: 50% 50%;
  background-color: #eee;
  background-repeat: no-repeat;
}
#footer .utilMenu .container .util li {
  margin-right: 20px;
}
#footer .utilMenu .container .util li:last-child {
  font-weight: 400;
  color: #0f91d0;
}
#footer .addressBox {
  padding: 50px 0;
}
#footer .addressBox .container {
  display: flex;
  justify-content: space-between;
}
#footer .addressBox .container .address {
  line-height: 1.5;
}
#footer .addressBox .container .address .copyright {
  margin-top: 20px;
  color: #999;
}
#footer .addressBox .container .tel {
  display: flex;
}
#footer .addressBox .container .tel .title {
  font-size: 20px;
}
#footer .addressBox .container .tel .info {
  margin-left: 20px;
}
#footer .addressBox .container .tel .info strong {
  display: block;
  margin-bottom: 10px;
  font-size: 28px;
  font-weight: 700;
  color: #0f91d0;
}
#footer .addressBox .container .tel .info p {
  font-size: 14px;
  line-height: 1.5;
}
#footer .addressBox .container .tel .info p span {
  font-weight: 500;
}

@media all and (max-width: 1200px) {
  #mainVisual {
    margin-top: 60px;
  }
}